<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sports Person Classifier</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/app.css">
</head>

<body>
    <nav class="navbar navbar-light bg-light justify-content-center">
        <a class="navbar-brand" href="/">Footballers Classifier</a>
    </nav>

    <div class="container">
        <div class="row">
        <div class="col card-wrapper" data-player="lionel_messi">
                <div class="card border-0">
                    <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                        <img class="w-100 h-100" src="static/images/Erling_Haaland.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body text-center mt-4">
                        <h4 class="text-uppercase card-title">Erling Haaland</h4>
                        </p>
                    </div>
                </div>
            </div>            
            <div class="col card-wrapper" data-player="maria_sharapova">
                    <div class="card border-0">
                        <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                            <img class="w-100 h-100" src="static/images/Gabriel_Jesus.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body text-center mt-4">
                            <h4 class="text-uppercase card-title">Gabriel Jesus</h4>
                            </p>
                        </div>
                    </div>
            </div>            
            <div class="col card-wrapper" data-player="roger_federer">
                    <div class="card border-0">
                        <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                            <img class="w-100 h-100" src="static/images/Mohamed_Salah.jpg" alt="Card image cap">
                        </div>
                        <div class="card-body text-center mt-4">
                            <h4 class="text-uppercase card-title">Mohamed Salah</h4>
                            </p>
                        </div>
                    </div>
            </div>          

            <div class="col card-wrapper" data-player="serena_williams">
                <div class="card border-0">
                    <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                        <img class="w-100 h-100" src="static/images/Ruben_Dias.png" alt="Card image cap">
                    </div>
                    <div class="card-body text-center mt-4">
                        <h4 class="text-uppercase card-title">Ruben Dias</h4>
                        </p>
                    </div>
                </div>
            </div>      

            <div class="col card-wrapper" data-player="virat_kohli">
                <div class="card border-0">
                    <div class="position-relative rounded-circle overflow-hidden mx-auto custom-circle-image">
                        <img class="w-100 h-100" src="static/images/Van_Dijk.jpg" alt="Card image cap">
                    </div>
                    <div class="card-body text-center mt-4">
                        <h4 class="text-uppercase card-title">Van Dijk</h4>
                        </p>
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-sm-4">
                <div class="row">
                    <div class="col-12 mx-auto">
                        <form action = "{{ url_for('result') }}" method = "POST" enctype = "multipart/form-data">
                            <!-- <input type = "file" class="file_input" name = "file" /> -->
                            <div class="input-file-container">  
                                <input class="input-file" id="my-file" type="file" name="file" >
                                <!-- <label tabindex="0" for="my-file" class="input-file-trigger">Select a file...</label> -->
                            </div>
                            <input type = "submit" class="submit_button"/>
                                
                        </form>
                    </div>
                </div>

            </div>
            
            <div class="col-sm-8 error" id="error" >
                <p>Image should be clear and need to be seen both eyes.</p>    
            </div>

            <div class="col-sm-4" id="resultHolder">
            </div>
            <div class="col-sm-4" id="divClassTable">
                <table id="classTable">
                        <tr>
                            <th>Player</th>
                            <th>Probability Score</th>
                        </tr>
                        <tr>
                            <td>Erling Haaland</td>
                            <td id="score_erling_haaland"></td>
                        </tr>
                        <tr>
                            <td>Gabriel Jesus</td>
                            <td id="score_gabriel_jesus"></td>
                        </tr>
                        <tr>
                            <td>Mohamed Salah</td>
                            <td id="score_mohamed_salah"></td>
                        </tr>
                        <tr>
                            <td>Ruben Dias</td>
                            <td id="score_ruben_dias"></td>
                        </tr>
                        <tr>
                            <td>Van Dijk</td>
                            <td id="score_van_dijk"></td>
                        </tr>
                </table>
            </div>
            
        </div>

    </div>

</body>
<!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</html>